<h1>l'indicatore 15.8.1 è la percentuale di paesi che
  adottano la legislazione nazionale pertinente e forniscono
  risorse adeguate per la prevenzione o il controllo delle specie
  esotiche invasive. introdurre misure per prevenire l'introduzione e
  ridurre significativamente l'impatto delle specie esotiche
  invasive sugli ecosistemi terrestri e acquatici e controllare o
  eradicare le specie prioritarie entro il 2020.</h1>
<div class="container" *ngFor="let chart of chartDataArray">
    <google-chart [title]="chart.title" [type]="chart.type" [data]="chart.data" [columns]="chart.columns"
      [options]="chart.options">
    </google-chart>
  
  </div>
